{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/data.json {:mvn/version "2.4.0"}
        org.clojure/tools.cli {:mvn/version "1.0.206"}
        metasoarous/oz {:mvn/version "2.0.0-alpha5"}}
 :aliases {:run/m {:main-opts ["-m" "popcon.plot"]}
           :test/runner {:extra-paths ["test" "resources"]
                         :extra-deps {io.github.cognitect-labs/test-runner
                                      {:git/tag "v0.5.0" :git/sha "b3fd0d2"}}
                         :main-opts ["-m" "cognitect.test-runner"]
                         :exec-fn cognitect.test-runner.api/test}
           :test/kaocha {:extra-paths ["test" "resources"]
                         :extra-deps {lambdaisland/kaocha {:mvn/version "1.64.1010"}}
                         :main-opts   ["-m" "kaocha.runner"]
                         :exec-fn kaocha.runner/exec-fn
                         :exec-args {}}}}
